*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(/SignUp/image.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
   
}
.sign-up{
    width: 450px;
    height: 500px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 1px 1px  2px grey, -1px -1px 2px grey;
    margin-top: 30px;
}
.sign-up h1{
    color: white;
    text-align: center;
    font-size: 2.8em;
    margin-top: 20px;
}
 .names{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    color: white;
    margin-top: 20px;   
 }
 .names label{
    margin-left: 10px;
    font-size: 1.2em;
 }
 .names input{
    width: 180px;
    height: 30px;
    border-radius: 50px;
    border: 1.3px solid rgb(243, 239, 239);
    background-color: transparent;
    margin-top: 10px;
    padding-left: 10px;
    color: white;
    font-size: 1em;
    
 }
 .email{
    margin-top: 30px;
    color: white;
    margin-left: 15px;
 }
 .email input{
    width: 400px;
    height: 40px;
    border-radius: 50px;
    border: 1.3px solid rgb(243, 239, 239);
    background-color: transparent;
    margin-top: 10px;
    padding-left: 10px;
    color: white;
    font-size: 1.2em; 
 }
 .password{
    margin-top: 30px;
    color: white;
    margin-left: 15px;
 }
.password input{
    width: 400px;
    height: 40px;
    border-radius: 50px;
    border: 1.3px solid rgb(243, 239, 239);
    background-color: transparent;
    margin-top: 10px;
    padding-left: 10px;
    color: white;
    font-size: 1.2em;
}
button{
    padding: 10px 40px;
    background-color: white;
    border: none;
    border-radius: 50px;
    margin-top: 40px;
    font-size: 1.5em;
    margin-left: 140px;
}
form p{
    color: white;
    text-align: center;
    margin-top: 20px;
}
form p a{
    text-decoration: none;
    color: green;
 }
/* Large Screen mobile */
@media (min-width: 390px) and (max-width:430px){
    *{
        box-sizing: border-box;
    }
    .sign-up{
        width: 390px;
    }
    .names input{
        width: 165px;
        padding-left: 5px;
    }
   .email input{
    width: 350px;
   }
   .password input{
    width: 350px;
   }
   button{
    margin-left: 120px;
   }
}


 /* Small Screen */
 @media (max-width: 390px) {
    *{
        box-sizing: border-box;
    } 
    .sign-up {
        width: 370px;
       margin-top: 0;
    }
    .names{
        display: block;
        margin-left: 20px;
        margin-top: 0;
       
    }
    .names input{
        width: 300px;
        height: 40px;   
    }

     .email input{
        width: 300px;
        height: 40px;  
     }
     .email{
        margin-top: 10px;
     }
     .password{
        margin-top: 10px;
     }
     .password input{
        width: 300px;
        height: 40px;
        margin-top: 5px;
     }
     button{
        margin-top: 20px;
        margin-left: 110px;
     }

}

/* Tablet or Ipad */
@media (min-width: 430px) and (max-width: 900px){
    *{
        box-sizing: border-box;
    }
    .sign-up{
        width: 580px;
        height: 600px;
        margin-top: 20px;
    }
    .sign-up h1{
        font-size: 3.4em;
    }
    .names input{
        width: 200px;
        height: 40px;
    }
    .email{
        margin-left: 40px;
    }
    .email input{
        width: 450px;
        height: 50px;
    }
    .password{
        margin-left: 40px;
    }
    .password input{
        width: 450px;
        height: 50px
    }
    button{
        margin-left: 190px;
        padding: 15px 50px;
        font-size: 1.8em;
    }
    form p{
        font-size: 1.3em;
    }
    form p a{
        font-size: 1.2em;
    }
}


