*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-nav{
    width: 80%;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    box-shadow: 0 2px rgb(196, 194, 194);
}
 .header-nav #bars{
    display: none;
}
.logo i{
    font-size: 2em;
    color: #0F4229;
    padding-top: 15px;
    margin-left: 30px;
}
.logo h1{
    font-size: 1em;
    color: #0F4229;
   
}
.header-nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 28px;
    font-size: 1.2em;
    color: #0F4229;
}
 ul li:hover{
    color: green;
    cursor: pointer;
}
ul a{
    text-decoration: none;
    color: #0F4229;
}
.header-nav button{
    padding: 10px 30px;
    background-color: #0F4229;
    border-radius: 10px;
    border: none;
    margin-top: 17px;
    color: white;
    font-size: 1.1em;
}
#login{
    background-color: transparent;
    border: 2px solid #0F4229;
    color: green;
}
/* hero image */
.header{
    width: 100%;
    height: 400px;
    background-image:linear-gradient(rgba(63, 127, 63,0.5),rgba(63, 127, 63, 0.5)), url(/Contact/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.header h1{
    text-align: center;
    color: white;
    font-size: 2.8em;
    position: absolute;
    top: 30%;
    left: 40%;
   animation: slideDown 1.2s ease-out forwards;

}
@keyframes slideDown{
    from {
        opacity: 0;
        transform: translateY(-80px);
    }
     to {
        opacity: 1;
        transform: translateY(0);    
}

}
.header p{
    text-align: center;
    color: rgb(209, 205, 205);
    padding-top: 20px;
    font-size: 1em;
    position: absolute;
    top: 40%;
    left: 38%;
}
/* section two */
.sec2{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.left h1{
    color: #0F4229;
    margin-bottom: 10px;
}
.left p{
    margin-bottom: 16px;
    font-size: 14px;
}
.icon{
    display: flex;
    gap: 20px;
    margin-top:20px ;
}
.icon p{
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 6px;
}
.icon i {
    font-size: 1.8em;
    color: #0F4229;
}

/* form right */
.form-right{
    width: 400px;
    height: 450px;
    background-color: white;
    padding: 30px 30px ;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin-right: 90px;
    margin-bottom: 30px;
}
.form-right:hover{
    background-color: #0F4229;
}
#first{
    width: 170px;
    height: 35px;
    margin-top: 6px;
    padding: 0 8px;
    border-radius: 8px;
    border: 2px solid green;
    font-size: 1em;
    margin-right: 15px;
    outline-style: none;
}
#Last{
    width: 170px;
    height: 35px;
    border-radius: 8px;
    border: 2px solid green;
    margin-top: 6px;
    padding: 0 8px;
    font-size: 1em;
    outline-style: none;
}
#contact-email{
    width: 390px;
   height: 33px;
   padding-left: 8px;
   border-radius: 8px;
   border: 2px solid green;
   font-size: 1em;
   outline-style: none;
}
#Phone-number{
    width: 390px;
    height: 33px;
    padding-left: 8px;
    border-radius: 8px;
    border: 2px solid green;
    font-size: 1em;
    outline-style: none;
}
#message {
    padding: 15px 0;
    padding-left: 10px;
    border: 2px solid green;
    border-radius: 18px;
    margin-bottom: 30px;
    font-size: 1em;
    outline-style: none;
}
textarea:hover{
    background-color: whitesmoke;
}
.MessageBtn{
    width: 405px;
    height: 35px;
    border-radius: 15px;
    background-color: green;
    border: none;
    font-weight: 500;
}
.MessageBtn:hover{
    background-color: white;
    cursor: pointer;
}

/* footer section */
.footer{
    width: 100%;
    height: 300px;
    background-color: #0F4229;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.sec1 h2{
    color: white;
    font-size: 2.1em;
    margin-bottom: 20px;
}
.social-icon{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.social-icon i{
    color: white;
    font-size: 1.4em;  
}
.social-icon p{
    color: white;
    font-size: 1em;
}
.platform{
    display: flex;
    gap: 10px;
    color: white;
    margin-top: 40px;
}
.platform i{
    font-size: 1.4em;
}

.service h2{
    color: white;
    font-size: 2.1em;
    margin-bottom: 20px;
}
.service ul li{
    list-style: none;
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 10px;
}

.links h2{
    color: white;
    font-size: 2.1em;
    margin-bottom: 20px;
}
.links ul li{
    list-style: none;
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 60px;
}

/* Small screen mobile */

@media (max-width: 390px){
    .header-nav{
        width: 100%;
       margin-left: 0;
    }
    .header-nav ul{
       display: none;
    }
    .header-nav button{
        display: none;
    }
     .header-nav #bars{
        display: block;
        font-size: 1.6em;
        padding-top: 15px;
        margin-left: 30%;
    }
    .logo{
        display: flex;
        gap: 10px;
       
    }
    .logo h1{
        padding-top: 14px;
        font-size: 1.4em;
     
    }
    .logo i{
        margin-left: 0;
        font-size: 1.3em;
    }
    /* hero section  */
    .header h1 {
        position: absolute;
        left: 25%;
    }
    .header p{
        position: absolute;
        left: 20%;
    }
    /* section two */
    .sec2{
        display: block;
    }
    .left{
        margin-left: 20px;
    }
    .left h1{
        font-size: 2.8em;
    }
    .left p{
        font-size: 16px;
    }
    .form-right{
        width: 386px;
        margin-top: 40px;
        margin-left: 8px;
    }
    #first{
        margin-right: 0;
    }
    #contact-email{
       width: 380px;
    }
    #Phone-number{
        width: 380px;
    }
    .message{
       padding: 10px;
       padding-left: 5px;  
    }
    /* footer */
    .footer{
        height: 500px ;
        display: grid;
        grid-template-columns: 200px 200px;
    }
    .links{
        margin-top: 30px;
    }
    .links ul li{
        margin-left: 20px;
    }

}


/* large screen mobile */
@media (min-width: 391px) and (max-width: 430px){
    .header-nav{
        width: 100%;
        margin-left: 0;
    }
    .header-nav ul{
        display: none;
    }
    .header-nav button{
        display: none;
    }
    .header-nav #bars{
        display: block;
        font-size: 1.6em;
        padding-top: 15px;
        margin-left: 30%;
    }
    .logo{
        display: flex;
        gap: 10px;
    }
    .logo h1{
        padding-top: 17px;
        font-size: 1.4em;
    }
    .logo i{
        margin-left: 0;
        
    }
    /* hero  section */
    .header h1{
        position: absolute;
        left: 25%;
    }
    .header p{
        position: absolute;
        left: 20%;
    }
    /* section two */
    .sec2{
        display: block;
    }
    .left{
        margin-left: 20px;
    }
    .left h1{
        font-size: 2.8em;
    }
    .form-right{
        margin-left: 6px;
    }
    /* footer */
    .footer{
        height: 500px;
        display: grid;
        grid-template-columns: 220px 200px;
    }
    .links{
        margin-top: 40px;
    }
    .links ul li{
        margin-left: 20px;
    }
}

/* Tablet or Ipad */

@media (min-width: 431px) and (max-width: 900px){
    .header-nav{
        width: 100%;
        margin-left: 0;
    }
    .header-nav button{
        padding: 10px 15px;
    }   
    .logo{
        display: flex;
        gap: 10px;
    }
    .logo h1{
        padding-top: 24px;
        font-size: 18px;
        font-weight: 800;
    }
    .logo i{
        font-size:1.6em;
        padding-top: 25px;
    }
    .header-nav ul li{
        font-size: 0.9em;
    }

    /* hero  section */
    .header h1{
        position: absolute;
        left: 36%;
    }
    .header p{
        position: absolute;
        left: 33%;
    }
    /* section two */
    .sec2{
        display: block;  
    }
    .left{
        margin-left:60px;
    }
    .left h1{
        font-size: 3em;
    }
    .left p{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .form-right{
        margin-left: 60px;
        width: 450px;
    }  
    
}



