*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #0F4229;
   
}
.side-bar{
    width: 20%;
    height: 100vh;
    position: fixed;
    color: white;
}
.title h1{
    margin-top: 30px;
    margin-left: 25px;
    
}
.dash1{
    color: black;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    margin-top: -10px;
}
 
.dash1 h2{
    font-size: 0.9em;
    text-align: center;
    /* margin-top: 5px; */
    padding-top: 7px;
}
.list a{
    text-decoration: none;
    color: white;
}

.menu{
    margin-top: 70px;
    margin-left: 25px;
}
.list{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.list i{
    font-size: 1.5em
}
.list h2{
    font-size: 1.3em;
}
/* section two */
.right-side {
    background-color: white;
    width: 75%;
    height: 95vh;
    position: fixed;
    left: 23%;
    top: 20px;
    border-radius: 15px; 
} 

.boxes{
    display: flex;
    justify-content: space-around;
    position: fixed;
}
.box{
    width: 250px;
    height: 150px;
    background-color: #2d606433;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 40px;
}
.box h3{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 1.6em;

}
.box h2{
    margin-left: 40px;
    margin-top: 10px;
    font-size: 3em;
}

#bo2{
    margin-left: 15px;
}
.container img{
    width: 450px;
    margin-top: 30px;
    margin-left: 45%;

}
.container{
    width: 850px;
    height: 60vh;
    margin-top: 20%;
    margin-left: 25px;   
}

/* pei chart */
.container .pei{
    width: 300px;
    height: 300px;
    background: conic-gradient(
        #0F4229 0% 30%,
        #2d606433 30% 50%,
        yellow 50% 75%,
        green 75%
   );
    border-radius: 50%;
    margin-top: -30%;
    margin-left: 20px;
}
.percent h2{
   padding-top: 25%;
   margin-left: 20%;
   /* color: white; */
   font-size: 1.3em;
}
#p2{
   margin-top: 8%;   
}
.percent2{
    margin-left: 65%;
    margin-top: -20px;
     font-size: 0.9em;
}
#p3{
    margin-top: -53%;
     font-size: 0.9em;
}