*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #0F4229;
   
}
.side-bar{
    width: 20%;
    height: 100vh;
    position: fixed;
    color: white;
}
.title h1{
    margin-top: 30px;
    margin-left: 25px;
    
}
.dash4{
    color: black;
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    margin-top: -10px;
    cursor: pointer;
}
.dash4 h2{
    font-size: 0.9em;
   text-align: center;
    margin-top: 5px; 
    padding-top: 5px; 
}
.list a{
    text-decoration: none;
    color: white;
}

.menu{
    margin-top: 70px;
    margin-left: 25px;
}
.list{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.list i{
    font-size: 1.5em
}
.list h2{
    font-size: 1.3em;
}
/* section two */
.right-side {
    background-color: white;
    width: 75%;
    height: 95vh;
    position: fixed;
    left: 23%;
    top: 20px;
    border-radius: 15px; 
} 

.boxes{
    display: flex;
    justify-content: space-around;
    position: fixed;
}
.box{
    width: 250px;
    height: 150px;
    background-color: #2d606433;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 40px;
}
.box h3{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 1.6em;

}
.box h2{
    margin-left: 40px;
    margin-top: 10px;
    font-size: 3em;
}

#bo2{
    margin-left: 15px;
}

/* container */
.container{
    width: 850px;
    height: 60vh;
    margin-top: 20%;
    margin-left: 25px;   
    overflow: auto;
    position: absolute;
}
.container h1{
    margin-left: 30%;
    padding-top: 40px;
}
table{
    border-collapse: collapse;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    margin-left: 60px;
    margin-top: 15px;
}
table thead th, table tbody td{
    padding: 10px 20px;
}

table thead tr{
    background-color: #2d606433;
}
table tbody tr{
    background-color: beige;
}
table tbody tr:nth-of-type(even){
    background-color: rgb(234, 233, 233);;
}